
/* From Uiverse.io by Peary74 */ 
.uploadBtn {
    font-family: inherit;
    font-size: 20px;
    background: orange;
    color: white;
    fill: rgb(255,255,255);
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    font-weight: 1000;
  }
  
  .uploadBtn span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }
  
  .uploadBtn svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
  
  .uploadBtn:hover {
    background: #000;
  }
  
  .uploadBtn:hover .svg-wrapper {
    transform: scale(1.25);
    transition: 0.5s linear;
  }
  
  .uploadBtn:hover svg {
    transform: translateX(1.2em) scale(1.1);
    fill: #fff;
  }
  
  .uploadBtn:hover span {
    opacity: 0;
    transition: 0.5s linear;
  }
  
  button:active {
    transform: scale(0.95);
  }
  